body {
    background-color: #2c2c2c;
    color: #fffafa;
}
aside {
    float: left;
    background-color: #181818;
    width: 20%;
    padding: 2.5%;
    height: 115vh;
    border-right: solid 5px #4d4d4d;
}
aside > img {
    width: 80px;
    height: 80px;
    float: left;
}
aside > .logo {
    font-size: 35px;
    margin-left: 15px;
    font-weight: bold;
    position: relative;
    top: 15px;
}
aside > ul { list-style: none; }
aside > ul > a {
    text-decoration: none;
    font-size: 25px;
    color: #fffafa;
    display: block;
    margin-top: 40px;
    transition: transform 0.5s ease;
}
aside > ul > li:hover,
aside > ul > a:hover {
    color: #eb5959;
    transform: scale(1.05);
}
main > .features {
    float: left;
    margin-top: 100px;
    text-align: center;
    width: 80%;
    height: 100vh;
}
main > .features > h1 { font-size: 50px; position: relative; left: 35px; }
main > .features > p { max-width: 1000px; margin: 20px 0; position: relative; left: 70px; }

.alert-warning {
    transition: transform 0.5s ease;
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}
.alert-warning:hover {
    transform: scale(1.20);
}
form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}