{% extends "layout.html" %}

{% block title %}
    Публикации
{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Мои публикации</h1>
        {% if news %}
            {% for element in news %}
                <div class="alert alert-warning">
                    <h3>{{ element.title }}</h3>
                    <p>{{ element.anons }}</p>
                    <small>{{ element.date }}</small>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей!😪😪😪</p>
        {% endif %}
    </div>
{% endblock content %}